{{
	admin off
	default_sni {domain}
}}

{domain} {{
	root /srv

	reverse_proxy {path} xray:8000

	@websockets {{
		header Connection *Upgrade*
		header Upgrade websocket
	}}

	reverse_proxy @websockets xray:8000{path}

	file_server

	log {{
		output file /var/log/caddy/access.log
	}}
}}
